/* RSKLightningBridge.module.css */
.container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .header {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .step {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }

  .button:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
  }

  .input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
  }

  .label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
  }

  .message {
    color: blue;
    font-size: 18px;
    overflow-x: scroll;
  }
  .tabs {
    margin-bottom: 20px;
  }

  .activeTab {
    background-color: #4CAF50;
    color: white;
  }

  .balance {
    margin: 20px 0;
    font-size: 18px;
    color: green;
  }
